* {
    margin: 0;
    padding: 0;
}

.txtShadow {
    text-shadow: 0 0 3px #C4C4C4, 0 0 5px #0000FF;
}

.toMob {
    display: none;
}

.mt-6 {
    margin-top: 190px !important;
}

.bottomMenu {
    display: none;
    z-index: 1;
}

.bottomMenu2 {
    display: none;
    z-index: 1;
}

.bottomMenu3 {
    display: none;
    z-index: 1;
}

.ellipse {
    position: absolute;
    width: 508px;
    height: 468px;
    left: -253px;
    top: -166px;
    background: rgba(33, 85, 205, 1);
    border-radius: 50%;
}

.LogoText {
    color: #2256CE !important;
    text-shadow: 0 0 3px #C4C4C4, 0 0 5px #0000FF;
}

.LogoText2 {
    color: #2256CE !important;
    font-size: 30px !important;
}

.LogoTextToMob {
    color: #2256CE !important;
    font-size: 30px !important;
}

.HeaderText {
    color: #2256CE !important;
}

#countdownDemo {
    color: #2256CE !important;
    font-size: 64px;
}

.back-purple {
    background-color: #2256CE !important;
    width: 100%;
    height: 350px;
    opacity: 75%;
}

.textLogoNear {
    color: #fefefe !important;
    font-size: 24px;
}

.ne-logo1 {
    position: relative;
    top: -75px;
    left: 110px !important;
    font-size: 34px;
}

.ne-logo2 {
    position: relative;
    top: -75px;
    left: 110px !important;
    font-size: 34px;
}

.ne-logo3 {
    position: relative;
    top: -75px;
    left: 110px !important;
    font-size: 34px;
}

.ne-logo4 {
    position: relative;
    top: -75px;
    left: 110px !important;
    font-size: 34px;
}

.bp {
    width: 350px !important;
    height: 350px !important;
}

.txtBelImage {
    position: absolute;
    top: 330px;
    left: 310px;
}

@media only screen and (max-width: 1100px) {
    * {
        margin: 0;
        padding: 0;
    }
    .toMob {
        display: inline-block;
        font-size: 20px;
        /* word-wrap: break-word; */
        padding: 10px;
    }
    .ellipse {
        display: none;
    }
    .theEntire {
        height: 500px;
    }
    .textLogoNear {
        text-align: center;
        word-wrap: break-word;
        /* height: 600px !important; */
    }
    .theText {
        font-size: 15px;
        text-align: center;
        /* inline-size: 300px; */
        position: relative;
        bottom: 0px !important;
        padding: 10px;
    }
    .bp {
        position: absolute;
        top: 1780px !important;
        left: 110px !important;
        width: 150px !important;
        height: 150px !important;
        display: none;
    }
    .theLogos {
        width: 50px !important;
        height: 50px !important;
    }
    .headerText {
        word-wrap: break-word;
    }
    .LogoText {
        /* font-size: 28px !important; */
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .LogoText2 {
        font-size: 28px !important;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin-top: 5px;
    }
    .txtBelImage {
        position: absolute;
        top: 330px;
        left: 70px;
    }
    .ne-logo1 {
        position: relative;
        top: -40px;
        left: 70px !important;
        font-size: 16px !important;
    }
    .ne-logo2 {
        position: relative;
        top: -40px;
        left: 50px !important;
        font-size: 16px !important;
    }
    .ne-logo3 {
        position: relative;
        top: -40px;
        left: 60px !important;
        font-size: 16px !important;
    }
    .ne-logo4 {
        position: relative;
        top: -40px;
        left: 70px !important;
        font-size: 16px !important;
    }
    .lg1 {
        width: 120px !important;
        height: 120px !important;
    }
    .lg2 {
        width: 160px !important;
        height: 150px !important;
    }
    .lg3 {
        width: 110px !important;
        height: 110px !important;
    }
}