.ellipse {
    position: absolute;
    width: 508px;
    height: 468px;
    left: -203px;
    top: -166px;
    background: rgba(45, 49, 148, 0.5);
    border-radius: 50%;
}

.LogoText {
    color: #2D3194 !important;
}

.HeaderText {
    color: #2D3194 !important;
}

#countdownDemo {
    color: #2D3194 !important;
    font-size: 64px;
}

.back-purple {
    background-color: #2D3194 !important;
    width: 100%;
    height: 350px;
    opacity: 75%;
}

.textLogoNear {
    color: #fefefe !important;
    font-size: 24px;
}

.ne-logo1 {
    position: relative;
    top: -75px;
    left: 110px !important;
    font-size: 34px;
}

.ne-logo2 {
    position: relative;
    top: -75px;
    left: 110px !important;
    font-size: 34px;
}

.ne-logo3 {
    position: relative;
    top: -75px;
    left: 110px !important;
    font-size: 34px;
}

.ne-logo4 {
    position: relative;
    top: -75px;
    left: 110px !important;
    font-size: 34px;
}