* {
    margin: 0;
    padding: 0;
}

.bottomMenu {
    display: none;
    /* position: fixed; */
    /* bottom: 0; */
    /* width: 100%; */
    /* height: 60px; */
    /* border-top: 1px solid #000; */
    /* background: red; */
    z-index: 1;
}

.bottomMenu2 {
    display: none;
    /* position: fixed; */
    /* bottom: 0; */
    /* width: 100%; */
    /* height: 60px; */
    /* border-top: 1px solid #000; */
    /* background: red; */
    z-index: 1;
}

.bottomMenu3 {
    display: none;
    /* position: fixed; */
    /* bottom: 0; */
    /* width: 100%; */
    /* height: 60px; */
    /* border-top: 1px solid #000; */
    /* background: red; */
    z-index: 1;
}

.ellipse {
    position: absolute;
    width: 508px;
    height: 468px;
    left: -203px;
    top: -166px;
    background: rgba(45, 49, 148, 0.5);
    border-radius: 50%;
}

.LogoText {
    color: #2D3194 !important;
}

.HeaderText {
    color: #2D3194 !important;
}

#countdownDemo {
    color: #2D3194 !important;
    font-size: 64px;
}

.back-purple {
    background-color: #2D3194 !important;
    width: 100%;
    height: 350px;
    opacity: 75%;
}

.textLogoNear {
    color: #fefefe !important;
    font-size: 24px;
}

.ne-logo1 {
    position: relative;
    top: -75px;
    left: 110px !important;
    font-size: 34px;
}

.ne-logo2 {
    position: relative;
    top: -75px;
    left: 110px !important;
    font-size: 34px;
}

.ne-logo3 {
    position: relative;
    top: -75px;
    left: 110px !important;
    font-size: 34px;
}

.ne-logo4 {
    position: relative;
    top: -75px;
    left: 110px !important;
    font-size: 34px;
}

.bp {
    width: 350px !important;
    height: 350px !important;
}

.txtBelImage {
    position: absolute;
    top: 330px;
    left: 310px;
}

@media only screen and (max-width: 1100px) {
    * {
        margin: 0;
        padding: 0;
    }
    .ellipse {
        display: none;
    }
    .textLogoNear {
        text-align: center;
    }
    .theText {
        font-size: 12px;
        text-align: left;
        word-wrap: break-word;
        inline-size: 280px;
        position: relative;
        top: 90px !important;
    }
    .bp {
        position: absolute;
        top: 1850px !important;
        left: 110px !important;
        width: 150px !important;
        height: 150px !important;
    }
    .theLogos {
        width: 50px !important;
        height: 50px !important;
    }
    .headerText {
        /* background-color: red !important; */
        /* wrap the text with the size of the container */
        word-wrap: break-word;
    }
    .LogoText {
        font-size: 28px !important;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .txtBelImage {
        position: absolute;
        top: 330px;
        left: 70px;
    }
    .ne-logo1 {
        position: relative;
        top: -40px;
        left: 70px !important;
        font-size: 16px !important;
    }
    .ne-logo2 {
        position: relative;
        top: -40px;
        left: 50px !important;
        font-size: 16px !important;
    }
    .ne-logo3 {
        position: relative;
        top: -40px;
        left: 60px !important;
        font-size: 16px !important;
    }
    .ne-logo4 {
        position: relative;
        top: -40px;
        left: 70px !important;
        font-size: 16px !important;
    }
}